/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .menu ul li {
        padding: 19px 13px;
    }
    .banner-content h3 {
        font-size: 36px;
        margin-bottom: 35px;
        line-height: 43px;
    }
    .banner-content p {
        margin-bottom: 29px;
    }
    .banner-img img {
        width: 290px;
    }
    .banner-img::before {
        top: 74px;
        left: 5px;
        width: 400px;
        height: 400px;
    }
    .squar-box-three {
        width: 40px;
        height: 40px;
    }
    .squar-box-two {
        width: 30px;
        height: 30px;
    }
    .squar-box-one {
        width: 80px;
        height: 80px;
    }
    .squar-box-four {
        width: 50px;
        height: 50px;
    }
    .title h3 {
        font-size: 40px;
    }
    .content-main-b h3 {
        font-size: 32px;
    }
    .content-body h3 {
        font-size: 34px;
        margin-bottom: 23px;
    }
    .content-body p {
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 22px;
    }
    .content-list ul li {
        font-size: 15px;
    }
    .content-list ul li span {
        width: 15px;
        font-size: 15px;
        margin-right: 11px;
    }
    .content-icon span {
        font-size: 41px;
    }
    .content-body h3 {
        font-size: 30px;
        margin-bottom: 19px;
    }
    .content-body p {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 2px;
    }
    .title h3 {
        font-size: 30px;
    }
    .pricing-head h2 {
        font-size: 47px;
    }
    .pricing-head h4 {
        font-size: 16px;
    }
    .pricing-body ul li {
        line-height: 34px;
        font-size: 15px;
    }
    .pricing-footer h4 {
        font-size: 12px;
        letter-spacing: 0.1rem;
    }
    .review-content p {
        font-size: 17px;
        line-height: 34px;
    }
    .project-items::before {
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
    }
    .project-items {
        width: 216px;
        height: 194px;
    }
    .banner-s::before {
        position: absolute;
        content: "";
        width: 369px;
        height: 467px;
    }
    .blog-dec a h3 {
        font-size: 20px;
    }
    .subcription .title h3 {
        font-size: 39px;
    }
    .social ul li {
        padding: 5px 0px;
    }

}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .menu ul li {
        padding: 14px 9px;
    }
    .menu ul li a {
        line-height: 53px;
    }
    .squar-box-one {
        width: 50px;
        height: 50px;
    }
    .squar-box-two {
        width: 25px;
        height: 25px;
    }
    .squar-box-three {
        width: 30px;
        height: 30px;
    }
    .squar-box-four {
        width: 20px;
        height: 20px;
    }
    .banner-content h3 {
        font-size: 47px;
        line-height: 4rem;
        letter-spacing: 0.1rem;
    }
    .banner-content p {
        font-size: 19px;
        margin-bottom: 26px;
    }
    .banner-img img {
        left: 179px;
        margin-right: 200px;
        height: 500px;
    }
    .title h3 {
        font-size: 40px;
    }
    .mb{
        margin-bottom: 20px;
    }
    .mb3{
        margin-bottom: 30px;
    }
    .btn-play {
        width: 50px;
        height: 50px;
    }
    .content-main-b h3 {
        font-size: 26px;
    }
    .right-content {
        text-align: center;
        margin-top: 45px;
    }
    .title h3 {
        font-size: 31px;
    }
    .tabs .nav-tabs {
        left: 36%;
    }
    .review-content p {
        font-size: 17px;
        color: #74727a;
        line-height: 31px;
    }
    .banner-s::before {
        position: absolute;
        content: "";
        width: 269px;
        height: 367px;
    }
    .subcription .title h3 {
        font-size: 40px;
    }
    .blog-dec a h3 {
        font-size: 19px;
    }
    .blog-f a {
        font-size: 15px;
    }
    .blog-meta a {
        font-size: 14px;
    }
}

 
/* Extra small Device. */
@media (max-width: 767px) {
    .banner-content h3 {
        font-size: 38px;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: 0.1rem;
    }
    .banner-content p {
        font-size: 17px;
    }
    .banner-img::before {
        display: none;
    }
    .title h3 {
        font-size: 34px;
    }
    .items-box {
        margin-bottom: 30px;
    }
    .btn-play::before {
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        background-image: linear-gradient(40deg,#39aeff,#3cff53,#ff4eb5,#ffa065);
        border-radius: 50%;
        z-index: -1;
        right: -1px;
        bottom: -1px;
        animation: joss 5s linear infinite;
    }
    .btn-play {
        font-size: -17px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        transition: all .4s ease;
    }
    .content-main-b h3 {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
    }
    .content-icon {
        text-align: center;
        margin-top: 20px;
    }
    .content-body h3 {
        font-size: 29px;
    }
    .content-body p {
        font-size: 19px;
        
    }
    .content-list ul li {
        font-size: 14px;
        color: #74727a;
    }
    .content-list ul li span {
        width: 13px;
        font-size: 15px;
    }
    .squar-box-one {
        width: 20px;
        height: 20px;
    }
    .squar-box-two {
        width: 5px;
        height: 5px;
    }
    .squar-box-three {
        width: 10px;
        height: 10px;
    }
    .squar-box-four {
        width: 10px;
        height: 10px;
    }
    .title h3 {
        font-size: 28px;
    }
    .pricing-head h4 {
        font-size: 14px;
    }
    .pricing-head h2 {
        font-size: 48px;
    }
    .pricing-items {
        border-right: 1px solid #efefef;
        padding: 0 60px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 59px;
    }
    .review-content p {
        font-size: 14px;
        line-height: 30px;
    }
    .review-content h3 {
        font-size: 20px;
    }
    .review-content span {
        font-size: 12px;
        letter-spacing: 2px;
        margin-bottom: 7px;
    }
    .review-item::before {
        animation: none;
    }
    .project-items.mb3 {
        margin-bottom: 40px;
    }
    .project-items {
        margin-bottom: 40px;
        justify-items: start;
        margin: 18px auto;
    }
    .active-btn button {
        margin-bottom: 9px;
        border-radius: 10px;
    }
    .blog-dec a h3 {
        font-size: 18px;
        line-height: 31px;
        margin-bottom: 15px;
        line-height: 28px;
    }
    .blog-meta a {
        font-size: 13px;
    }
    .subcription .title h3 {
        font-size: 30px;
    }
    .f-title img {
        width: 109px;
    }
    .f-content ul li a {
        font-size: 14px;
    }
    .f-content ul li {
        padding: 0px 0;
        font-size: 14px;
    }
    .tabs .nav-tabs {
        left: 24%;
    }
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn-play {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(90deg,#ff4eb5 0,#ffa065 100%,#ff4eb5);
        line-height: 50px;
        border-radius: 50%;
        transition: all .4s ease;
    }
}
/* SM Small Device :360px. */
@media (max-width: 360px) {
    .banner-content h3 {
        font-size: 25px;
    }
    .banner-content p {
        line-height: 29px;
        margin-bottom: 21px;
    }
    .banner-content p {
        font-size: 14px;
    }
    .btn-play {
        font-size: 9px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .btn-play::before {
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        background-image: linear-gradient(40deg,#39aeff,#3cff53,#ff4eb5,#ffa065);
        border-radius: 50%;
        z-index: -1;
        right: -1px;
        bottom: -1px;
        animation: joss 5s linear infinite;
    }
    .content-main-b h3 {
        font-size: 10px;
    }
    .btn {
        padding:11px 34px;
    }
    .review-content p {
        font-size: 11px;
        line-height: 23px;
    }
    .review-content h3 {
        font-size: 17px;
    }
    .review-content h3 {
        margin-bottom: 7px;
    }
    .review-content span {
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 1px;
    }
    .review-content img {
        width: 67px;
        height: 66px;
    }
    .brand img {
        margin: 0 auto;
    }
    .active-btn button {
        padding: 8px 18px;
    }
    .full-blog {
        margin-bottom: 20px;
    }
    .subcription .title h3 {
        font-size: 24px;
    }
    .title h3 {
        font-size: 22px;
    }
    .project-items span {
        font-size: 32px;
    }
    .project-items span:nth-child(2) {
        font-size: 13px;
    }
    .tabs .nav-tabs {
        left: 24%;
    }
    .form a {
        top: 10px;
        right: 24px;
        width: 52px;
        height: 52px;
        line-height: 54px;
        font-size: 27px;
    }
    .footer-widget {
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    .footer-section [class*="col-"]:nth-child(5) .footer-widget{
        border-bottom: 1px solid transparent;
    }
}

/* retina query */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:991.98px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991.98px),only screen and (min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min-resolution:192dpi) and (max-width:991.98px),only screen and (min-resolution:2dppx) and (max-width:991.98px){

.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

}


@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){
.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

}